.database-form > form {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}

.database-form > form input {
    margin-bottom: 1em;
}
.database-form > form button {
    margin-top: 1em;
    color: #ffffff;
    border: outset 2px #477eb6;
    background-color: #5088c0;
}
.database-form > form button:active {
    border: inset 2px #115599;
    background-color: #113355;
}
