* {
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    background-color: rgb(134, 134, 134);
}
body {
    font-size: 1rem;
    margin: auto;
    min-width: 100vw;
    /* max-width: 800px !important; */
    background-color: rgba( 255,255,255,1 );
    /* border: thin black solid; */
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 1em 5em;
    font-weight: normal;
}

body * {
    transition: 0.5s;
}

header {
    text-align: center;
}
header h1 {
    font-size: 4rem;
    color: #000000;
    font-weight: lighter;
}
header h1 i, header h1 em {
    color: #5088c0;
    text-shadow: 2px 2px 2px #000000;
}

main {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-row-gap: 1em;
}
input, button {
    text-transform: capitalize;
    padding: 0.5rem;
}
button {
    border-radius: 0.25em;
}

footer {
    width: 100%;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: center;
    justify-items: center;
}
footer * {
    margin: auto;
}
@media screen and (max-width: 550px) {
    body {
        padding: 0 2em;
    }
    footer {
        grid-template-columns: 1fr !important;
    }
}
