table.database {
    width: 100%;
    display: grid;
    grid-row-gap: 1em;
    grid-template-rows: auto 1fr;
}

table.database tr {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
}
table.database thead {
    border-bottom: inset 2px rgb(197, 197, 197);
}
table.database tbody {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
    grid-auto-rows: min-content;

    display: flex;
    flex-direction: column;
}
table.database th:not(:last-child), table td:not(:last-child) {
    flex: 1;
}
table.database tbody tr {
    /* margin-top: 1em; */
    background-color: #ffffff;
}
table.database tbody tr:hover {
    background-color: #cccccc;
}
table.database button.remove {
    width: 100%;
}
table.database button.remove {
    color: #ffffff;
    border: outset 2px #991111;
    background-color: #991111;
}
table.database button.remove:active {
    border: inset 2px #991111;
    background-color: #551111;
}
@media screen and (max-width: 550px) {
    table.database button.remove {
        margin-top: 1em;
    }
    
    table.database tbody tr {
        flex-direction: column;
        text-align: left;
        margin-top: 2em;
    }
    table td:nth-child(4) {
        vertical-align: middle;
        width: 100%;
    }
    table.database thead {
        border-bottom: inset 2px rgb(197, 197, 197);
    }
}